<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}


{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
{% if posts_list %}

    <h1> Всего публикаций: {{ posts_list|length }} </h1>
    <h3>{% current_time '%b %d %Y' %}</h3>
    <table align="center">
               <tr>
                   <td>Заголовок</td>
                   <td>Дата публикации</td>
                   <td>Текст</td>
               </tr>
        {% for posts in posts_list %}
               <tr>
                   <td>{{ posts.title|censor }}</td>
                   <td>{{ posts.add_time|date:"d M Y" }}</td>
                   <td>{{ posts.text|truncatechars:20|censor }}</td>
               </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Публикаций нет!</h2>
{% endif %}

{# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}